body {
	padding: 2em;
}

.flashcard {
	margin-bottom: 1.5em;
	display: flex;
}

.flashcard .infoArea {
	margin-left: 0.5em;
	margin-top: -0.4em;
}

.flashcard .category {
	font-variant: small-caps;
	color: #555;
	font-size: 0.9em;
}

.flashcard .front {
	line-height: 1.2em;
}

.flashcard .back {
	font-family: "Courier New", Courier, monospace;
	color: brown;
	background-color: #eee;
	font-size: 0.8em;
}

.btn-minimal {
	background-color: #eee;
}

.categoryItem {
	font-variant: small-caps;
	color: #555;
	font-size: 0.9em;
}

.page_loading_spinner {
	font-size: 30px !important;
}

.count {
	color: #aaa;
}

.categoryLabel {
	cursor: pointer;
}