<!DOCTYPE html>
<html>

<head>
	<title><%=pageTitle%></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>
	<div id="app" style="display:none">
		<div v-show="!pageLoaded">
			Page is loading...
		</div>
		<div v-show="pageLoaded">
			Flashcards:
			<ul>
				<li v-for="item in flashcards">{{item.category}} - {{item.front}} - {{item.back}}</li>
			</ul>

		</div>
	</div>
	<script>
		const app = new Vue({
			el: '#app',
			data: {
				flashcards: [],
				pageLoaded: false,
				pageError: false
			},
			methods: {
				initialize: function () {
					$("#app").fadeIn(500);
					this.loadPageData();
				},
				loadPageData: function () {
					this.pageLoaded = false;
					axios({
						method: 'post',
						url: 'backend',
						data: {
							action: 'loadPageData'
						}
					}).then(response => {
						const data = response.data;
						this.flashcards = data.flashcards;
						this.pageLoaded = true;
					}).catch(function (error) {
						this.pageError = true;
					});
				}
			}
		});
		app.initialize();
	</script>
</body>

</html>