<!DOCTYPE html>
<html>

<head>
	<title><%=pageTitle%></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
</head>

<body>
	<div id="app">
		Mesage: {{message}}
	</div>
	<script>
		const app = new Vue({
			el: '#app',
			data: {
				message: "hello from vue"
			}
		});
	</script>
</body>

</html>